<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/pexels-pixabay-256490.jpg); background-size: cover; background-position: -75%;background-attachment:fixed">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-4"></span>
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Formulaires questions -->
  <form (ngSubmit)="save()">
    <h2>Ajouter un profil</h2>
    <h3>Compte universitaire</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Numero du compte" id="exampleFormControlInput1"
            [(ngModel)]="compte.numeroCompte" name="numeroCompte">
        </div>
      </div>
      <!--
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Statut" [(ngModel)]="compte.statut" name="statut">
            </div>
          </div>
        </div>
      </div>
    -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Rôle</label>
          <select multiple class="custom-select" name="roles" [(ngModel)]="personne.roles">
            <option *ngFor="let r of roles" [ngValue]="r">
              {{r.libelleRole}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Académie</label>
          <select class="custom-select" name="academies" [(ngModel)]="academie.nomAcademie">
            <option *ngFor="let ac of academies" [ngValue]="ac">
              {{ac.nomAcademie}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Université</label>
          <select class="custom-select" name="universites" [(ngModel)]="universite.nomUniversite">
            <option *ngFor="let uni of universites" [ngValue]="uni">
              {{uni.nomUniversite}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Centre de recherche</label>
          <select class="custom-select" name="centreDeRecherches" [(ngModel)]="centreDeRecherche.nomCentreDeRecherche">
            <option *ngFor="let cdr of centreDeRecherches" [ngValue]="cdr">
              {{cdr.nomCentreDeRecherche}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Section</label>
          <select class="custom-select" name="sections" [(ngModel)]="section.nomSection">
            <option *ngFor="let sec of sections" [ngValue]="sec">
              {{sec.nomSection}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Titre de la formation</label>
          <select class="custom-select" name="formations" [(ngModel)]="formation.titreFormation">
            <option *ngFor="let fo of formations" [ngValue]="fo">
              {{fo.titreFormation}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <h3>Informations personnelles</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Nom" [(ngModel)]="personne.nom" name="nom">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Prenom" [(ngModel)]="personne.prenom" name="prenom">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="Date" placeholder="Date de naissance" [(ngModel)]="personne.dateNaissance"
            name="dateNaissance">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email" [(ngModel)]="personne.email" name="email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Numéro de téléphone" [(ngModel)]="personne.numeroTel"
            name="numeroTel">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Identifiant" [(ngModel)]="personne.username"
            name="username">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Mot de passe" [(ngModel)]="personne.password"
            name="password">
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Ajouter un nouveau compte</button>
    <div class="clearfix"></div>
  </form>

  <br>
  <h2 class="card-title">Gestion des comptes</h2>

  <div class="row  mb-5">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste des personnes</h3>
        </div>
        <div class class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Numero du compte</th>
                <!--<th scope="col">Status</th>-->
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Date de naissance</th>
                <!--<th scope="col">Adresse : rue</th>-->
                <th scope="col">Email</th>
                <th scope="col">Numero de téléphone</th>
                <th scope="col">Identifiant</th>
                <th scope="col">Mot de passe</th>
                <!--<th scope="col">Roles</th>-->
                <th scope="col">Editer</th>
                <th scope="col">Validation</th>
                <th scope="col">Supprimer</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of personnes ; let i = index">
                <td>{{comptes[i].numeroCompte}}</td>
                <!--<td>{{comptes[i].statut}}</td>-->
                <td>{{personnes[i].nom}}</td>
                <td>{{personnes[i].prenom}}</td>
                <td>{{personnes[i].dateNaissance}}</td>
                <!--<td>{{personnes[i].rue}}</td>-->
                <td>{{personnes[i].email}}</td>
                <td>{{personnes[i].numeroTel}}</td>
                <td>{{personnes[i].username}}</td>
                <td>{{personnes[i].password}}</td>
                <!-- <td>{{roles[i].libelleRole}}</td> -->
                <td><button class="btn pull-right" (click)="editUser(p)">Modifier</button></td>
                <td><button class="btn pull-right" (click)="editCompte(p)">Validation</button></td>
                <td><button class="btn btn-danger pull-right" (click)="delete(p.id)">Supprimer le compte ?</button></td>

              </tr>
            </tbody>
          </table>

          <!--
          <br>
          <h2 class="card-title">Gestion candidature des enseignants</h2>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Date de naissance</th>
                  <th scope="col">Email</th>
                  <th scope="col">Numero de téléphone</th>
                  <th scope="col">Identifiant</th>
                  <th scope="col">Mot de passe</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of personnes ; let i = index">
                  <td>{{personnes[i].nom}}</td>
                  <td>{{personnes[i].prenom}}</td>
                  <td>{{personnes[i].dateNaissance}}</td>
                  <td>{{personnes[i].rue}}</td>
                  <td>{{personnes[i].email}}</td>
                  <td>{{personnes[i].numeroTel}}</td>
                  <td>{{personnes[i].username}}</td>
                  <td>{{personnes[i].password}}</td>
                  <td>{{roles[i].libelleRole}}</td>
                  <td><button class="btn btn-danger pull-right" (click)="delete(p.id)">Valider la candidature ?</button>
                  </td>
                  <td><button (click)="editUser(p)">Modifier</button></td>
                </tr>
              </tbody>
            </table>
          </div>          
          -->
        </div>
      </div>
    </div>
  </div>
</div>