<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter un compte</h4>
                  </div>
                  <div class="card-body">
                      <form (ngSubmit)="save()">
                          <div class="row">
                              <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Numero du compte" type="text" [(ngModel)]="compte.numeroCompte" name="numeroCompte">
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Statut" type="text" [(ngModel)]="compte.statut" name="statut">
                                </mat-form-field>
                              </div>
                              <button mat-raised-button class="btn btn-danger pull-right">Ajouter</button>
                              <div class="clearfix"></div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
       </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title ">Affichage/Supression des comptes</h4>
                  <p class="card-category"> ***Mode admin***</p>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                  Numero du cmpte
                              </th>
                              <th>
                                  Statut
                              </th>
                              <th>
                                  Action
                              </th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let co of comptes">
                                <td>{{co.numeroCompte}}</td>
                                <td>{{co.statut}}</td>
                                <td><button class="btn btn-danger pull-right" (click)="delete(u.idUtilisateur)">Delete</button></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>



